<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">We will do our best to answer your request as soon as possible. </h3>
                <p style="color:white"><b>Conference Co-Chairs:</b><br>
                    Dr. Narinder Paul<br>
                    Dr. Aaron Fenster<br>
                    Abstract Management Coordinator &#8211; Kitty Wong 	&#8211; email: <a href="mailto:kwong572@uwo.ca">kwong572@uwo.ca</a><br>
                    Registration Management Coordinator &#8211; Johanne Langford &#8211; email: <a href="mailto:jlanford@robarts.ca">jlanford@robarts.ca</a><br>
                    General Inquiries &#8211; Janette Wallace 	&#8211; email: <a href="mailto:jwallace@robarts.ca">jwallace@robarts.ca</a></p>
                    
    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                

            </div>
        </div>
    </div>
</section>