<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">We will do our best to answer your request as soon as possible. </h3>
                <p style="color:white"><b>Conference Co-Chairs:</b><br>
                    Dr. Narinder Paul<br>
                    Dr. Aaron Fenster<br>
                    <br>
                    <p style="color:white"><b>Supporting Staff:</b><br>

                        <table align="center">
                            <tr>
                                <td style="color:white; text-align: right; vertical-align: top;">General Inquiries:&nbsp;&nbsp;</td>
                                <td style="color:white; text-align: left; vertical-align: top;">Janette Wallace
                                    <br>email &#8211; <a href="mailto:jwallace@robarts.ca">jwallace@robarts.ca</a> 
                                    <br>Office &#8211; 519-931-5240.
                                </td>
                            </tr>
                            <tr><td>>&nbsp;</td</tr>
                            <tr>
                                <td style="color:white;text-align: right; vertical-align: top;">Abstract Management Coordinator:&nbsp;&nbsp;</td>
                                <td style="color:white;text-align: left; vertical-align: top;">Kitty Wong<br>email: <a href="mailto:kwong572@uwo.ca">kwong572@uwo.ca</a></td>
                            </tr>
                            <tr><td>>&nbsp;</td</tr>
                            <tr>
                                <td style="color:white;text-align: right; vertical-align: top;">Registration Management Coordinator:&nbsp;&nbsp;</td>
                                <td style="color:white;width: 50%; text-align: left; vertical-align: top;">Johanne Langford<br>email: <a href="mailto:jlangford@robarts.ca">jlangford@robarts.ca</a></td>
                            </tr>
                            <tr><td>>&nbsp;</td</tr>
                            <tr>
                                <td style="color:white;text-align: right; vertical-align: top;">Awards Coordinator:&nbsp;&nbsp;</td>
                                <td style="color:white;text-align: left; vertical-align: top;">Carol Anderson<br>email: <a href="mailto:Carol.Anderson@lhsc.on.ca">Carol.Anderson@lhsc.on.ca</a></td>
                            </tr>
                            <tr><td>>&nbsp;</td</tr>
                            <tr>
                                <td style="color:white;text-align: right; vertical-align: top;">Finance Coordinator:&nbsp;&nbsp;</td>
                                <td style="color:white;text-align: left; vertical-align: top;">Margaret Moulton<br>email: <a href="mailto:Margaret.Moulton@lhsc.on.ca">Margaret.Moulton@lhsc.on.ca</a></td>
                            </tr>
                            <tr><td>>&nbsp;</td</tr>
                            <tr>
                                <td style="color:white;text-align: right; vertical-align: top;">General Logistics:&nbsp;&nbsp;</td>
                                <td style="color:white; text-align: left; vertical-align: top;">Rachael Patrick<br>email: <a href="mailto:RachaelE.Patrick@lhsc.on.ca">RachaelE.Patrick@lhsc.on.ca</a></td>
                            </tr>
                            <tr>
                                <td style="color:white;text-align: right; vertical-align: top;">&nbsp;&nbsp;</td>
                                <td style="color:white; text-align: left; vertical-align: top;">Kelsey Klages<br>email: <a href="mailto:kelsey.klages@schulich.uwo.ca">kelsey.klages@schulich.uwo.ca</a></td>
                            </tr>
     
                        </table>
    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                

            </div>
        </div>
    </div>
</section>