<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">London Imaging Discovery Day 2022</h2>
                </div>
            </div>
            <div class="row container">
                <p>After two years of virtual meetings, London Imaging Discovery Day is back in person, in June, 2022!</p>
                <p>Following the success of the London Imaging Discovery Day 2019, we would like to encourage you to participate and make LIDD 2022 even better! </p>
                <p>In 2019 we had our biggest LIDD yet, with over 300 attendees! This year, we will once again be utilizing the outstanding conference space at Kings University College, in order to accommodate our learners, imaging scientists, technologists, nurses, administrators, Medical Imaging faculty and Industry partners.</p>
                <p><u>We are pleased to announce the following date for your diary:</u></p>
                <p>When: Thursday, June 9, 2022, Full Day<br>
                Where: Darryl J. King Student Life Centre, King’s University College
                <img src="../css/2017_style/img/2022Venue.png" width="100%" alt="King’s University College"></p>
                
                <font color="#4F2683"><b>The facility has the following:</b></font>
                <ul>
                    <li>Main auditorium that accommodates up to 476 people</li>
                    <li>Purpose built presentation rooms for the “theme based oral presentations”</li>
                    <li>Central display area for Industry partners</li>
                    <li>Ample, free parking. </li>
                </ul>
 
                
                <font color="#4F2683"><b>Highlights of LIDD 2019 </b></font>
                    <ul><li>70+ theme based oral presentations covering 9 themes in Medical Imaging</li>
                        <li>4 invited lecturer presentations, plus a keynote speaker</li>
                    </ul>

                    <font color="#4F2683"><b>Peer reviewed scientific awards:</b></font>
<ul><li>Magda Cum Laude </li>
<li>Certificate of Merit  </li>
<li>Honorable Mention  </li>
</ul>
<font color="#4F2683"><b>Inspirational awards</b></font>
<ul><li>Rankin/Singh Award &#8212 Research</li>
    <li>Jason Ashley Memorial Award</li>
        <li>Mark Landis Annual Award</li>
            <li>Chair's Award for Inspiration</li>
                <li>Annual Award for Academic Excellence</li>
                    <li>Lifetime Achievement Award</li>
</ul>
 
Kindly mark the date in your calendar.<br><br>
 
Looking forward to seeing you all there!<br>
 
More information to follow.<br><br>
 
Warm regards,<br><br>
<font color="#4F2683">
Narinder S Paul, BM, MRCP (UK), FRCR (UK), FRCPC<br>
Professor of Cardiothoracic Imaging<br>
City Wide Chair-Chief of the Department of Medical Imaging<br>
Western University<br>
Scientist at the Robarts and Lawson Research Institutes</b></font>

                <h3 class="section-heading">Dealines</h3>
                <p> Abstract Submission: Friday, May 20, 2022 midnight<br>Guest registration: Friday, May 27, 2022 midnight</p>

                 <!--<center>-->
                 <a href="abstract" class="page-scroll btn btn-xl">Abstract Submission Information</a>
                <a href="https://forms.gle/QWGK4ftLWtt3bcTZ8" target="_blank" class="page-scroll btn btn-xl">Register to attend</a>
            <!--</center>-->
            </div>
        </div>
    </section>
