<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2><br>
                    <h1 class="section-heading">Gold Sponsors</h1>
                    <a href="https://www.siemens-healthineers.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/Siemens_Healthineers_logo.png" width="40%" alt="Siemens Health Care">
                    </a>
                <br>
                    <a href="https://ca.medical.canon/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/Canon2.png"  width="40%" alt="Canon">
                    </a>
                          
                <h1 class="section-heading">Bronze Sponsors</h1>
                    <a href="https://www.gehealthcare.ca/en-ca/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2017_style/img/logos/GE.png" width="15%" alt="GE Health Care">
                    </a>
                    
                </div> </div>   
        </div>
    </aside>