<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">London Imaging Discovery Day<br></div>
                <div class="intro-lead-in">Thursday, June 9, 2022</div>
                <div class="intro-lead-in">Darryl J. King Student Life Centre, King's University College</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/sponsors-gold.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/contact2022.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}  

    </body>
</html>