<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
            
        </FONT></strong></p>

        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">London Imaging Discovery Day<br></div>
                <div class="intro-lead-in">Thursday, June 9, 2022</div>
                <div class="intro-lead-in">Darryl J. King Student Life Centre, King's University College</div>
                
                    
        
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                <p style="background-color:white"><strong> 
                    <FONT COLOR="red">&bullet;&nbsp;All participants of London Imaging Discovery Day must be fully vaccinated and must submit or show vaccination proof in order to participate as per the <a href="https://www.uwo.ca/coronavirus/health-safety/index.html" target = "_blank">health and safely guidelines</a> outlined by Western University.
                    </FONT></strong></p>  
                    <p style="background-color:white"><strong>                 
                    <FONT COLOR="red">&bullet;&nbsp;Photos and videos will be taken during the event.  If you do not wish your photos or video being taken, please let us know.
                    </FONT></strong></p>
                    <p style="background-color:white"><strong>  <FONT COLOR="red">&bullet;&nbsp;If you require a certificate of attendance, please complete <a href="https://forms.gle/TQPm8xZJDboRZNtT8" target = "_blank">this form</a>.
                    </FONT></strong></p>
                    <strong><FONT COLOR="red">&bullet;&nbsp;Please complete our 
                         <a href="https://uwo.eu.qualtrics.com/jfe/form/SV_bOSw1tgp9v1gvC6" target = "_blank"> our survey</a> to give us feedback on the event.
                    </FONT></strong></p>                
                    
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/sponsors-gold.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/contact2022.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}  

    </body>
</html>